@model List<ArtAuction.Models.Gallery>
@{
    ViewData["Title"] = "Galleries";
    Layout = "_Layout";
}
<main role="main">

    <section class="galleryTab jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">WE ARE PARTNERS WITH AMAZING GALLERIES!</h1>
            <p>
                @if (User.IsInRole("Administrator"))
                {
                    <a asp-controller="Galleries" asp-action="AddGallery" class="btn btn-block btn-primary my-2">Add a new gallery</a>
                }
            </p>
        </div>
    </section>
</main>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">

            @foreach (var gallery in Model)
            {
            <div class="col-md-4">
                <h3 class="text-center"><a asp-controller="Galleries" asp-action="GalleryView" asp-route-id="@gallery.Id"> @gallery.Title</a></h3>
                <p class="text-center font-weight-normal"><span class="font-weight-bold">Address:</span> @gallery.Address</p>
                <p class="text-center font-weight-normal"><span class="font-weight-bold">Movement\styles:</span> @gallery.Movement</p>
                
            </div>

            }
        </div>
    </div>
</div>
