.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-item {
    height: 32rem;
    background-color: #777;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-position: center;
    filter: brightness(50%);
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.featurette-divider {
    margin: 5rem 0; 
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

@media (min-width: 40em) {

    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

.jumbotron {
    margin-bottom: 0;
    color: white;
}

.mycollectionTab {
    background-image: url("../img/5.jpg");
    background-size: cover;
}
/* image not loaded */
.artistsTab {
    background-image: url("../img/artists.jpg");
    background-size: cover;
}
.allAuctionsTab {
    background-image: url("../img/7.jpg");
    background-size: cover;
}
.auctionTab {
    background-image: url("../img/paintback.jpg");
    background-size: cover;
}

.galleryTab {
    background-image: url("../img/2.jpg");
    background-size: cover;
}

.upcomingTab {
    background-image: url("../img/4.jpg");
    background-size: cover;
}

.jumbotron p:last-child {
    margin-bottom: 0;
    color: white;
}

.jumbotron-heading {
    font-weight: 700;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }